<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to 'home', '/articles'  %>
<%= link_to 'edit', edit_article_path %>
<%= link_to article_path(@article), method: :delete do %>
  <%= 'delete' %>
<% end %>